## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 32
print(x)

32

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre="Andres"

5) Crear una variable que contenga un número complejo

In [5]:
y=4+4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(y)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
valortrue_1 = 'True'
valortrue_2 = True
# No se trata de los mismos valores dado que su tipo es distinto

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(valortrue_1))
print(type(valortrue_2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
z = 1
a = 1.2

11) Realizar una operación de suma de números complejos

In [12]:
print(y + (3+3j))

(7+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
print(3.4 + y)

(7.4+4j)

13) Realizar una operación de multiplicación

In [14]:
print(3 * 4.45)

13.350000000000001

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
c = 27 / 4
c

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
int(c)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
4*6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
nombre + "32prac"

'Andres32prac'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [26]:
"2" == 2
# El resultado de la operación sera False dado que se tratan de datos de distintos tipos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [27]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [29]:
a = float('3,8')
# Según la salida del error, es porque no puede convertir un string a un float
# Y ademas para que funcione se tendría que utilizar el caracter '.' y no ',',
# quedanto a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [31]:
d = 3
d -= 1
print(d)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1 << 2
# Se trata de una operación binaria y sigue el método de correr el bit hacia la izquierda
# las cantidad de veces indicada en el dato que da la operación que esta ubicado a la derecha
# del operador <<. El dato que esta a la izquierda se lo toma convertido en su binario, es decir,
# si es 1 se lo toma como '...0001', si es 2 se lo toma como '...0010' y así ...

# El sistema de numeración binario no es otra cosa que una formas más de enumerar, en este caso con el sistema binario,
# distinto al sistema decimal utilizado corrientemente

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [36]:
2 + '2'

# Siguiendo la salida que surge en la ejecución de esta linea, nos dice que no se puede
# realizar la operación entre un dato de tipo cadena y otro de tipo entero

# En caso de que los dos datos sean de tipo entero la operación resultará en otro dato de tipo entero.
# En caso de que los dos datos sean de tipo cadena la operación resultará en otro dato de tipo cadena.

# En caso de que un dato sea de tipo cadena y el otro entero solamente habrá un resultado si salida de error,
# cuando la operación siga el orden cadena y luego entero y este operandose con la multiplicación

26) Realizar una operación válida entre valores de tipo entero y string

In [44]:
print("Andres " * 4)

Andres Andres Andres Andres